@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

span {
    color: rgb(3, 3, 54)
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 8px;
}

body {
    font-family: 'Poppins', sans-serif;
    
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #fafbfe;
}

#sidebar{
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color:lavender
}

#sidebar.with-transition {
    transition: all 0.3s;
}

#sidebar.expand{
    width: 260px;
    min-width: 260px;
}

.sidebar-link i {
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}



#sidebar:not(.expand) .sidebar-item:last-child i {
    margin-left: -9px; 
}

.menu-title {
    color: #660e0e !important; /* rojo */
    font-weight: 600;
}

#toggle-btn i {
    font-size: 1.5rem;
    color: #460808;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}
.sidebar-link svg {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(18, 98, 145, 0.089);
    border-left: 3px solid #b91b1b;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    color: #FFF;
}

#sidebar {
    position: fixed;
    top: 62px; /* Altura del header */
    left: 0;
    height: calc(100% - 56px); /* Resta la altura del header */
    margin-top: 0;
    z-index: 1040;
}
.main {
    margin-top: 65px; /* Para que el contenido no quede debajo del header */
    margin-left: 70px; 
    transition: margin-left 0.25s;
}

#sidebar.expand ~ .main {
    margin-left: 260px;
}

.mantenimiento-text {
    color: #fff !important;
}
